---
import Card from "../components/Card.astro";
import type { PokemonListResponse} from "../interfaces/pokemon-list-response"
import MainLayout from "../layouts/MainLayout.astro";
const resp = await fetch('https://pokeapi.co/api/v2/pokemon')
const data = await resp.json() as PokemonListResponse

---

	<MainLayout title="Home">
		<h1 class="text-3xl text-red-400">Pokemons</h1>
		<hr/>
		<section aria-label="Listado de Pokemons" class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-5 gap-4 p-4">
			{
				data.results.map((pokemon)=>(
					<Card name={pokemon.name} url={pokemon.url}/>
			))
			}

		</section>
	</MainLayout>
